pandas
pyarrow
openpyxl
folium
plotly
streamlit
watchdog
ollama
pinecone-client>=3.0.0
pypdf
python-dotenv
langchain
langchain-community
langchain-text-splitters
langchain-ollama
langchain-pinecone
langgraph
duckdb
scikit-learn
matplotlib
seaborn
